.with-sidebar-left {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gutter);
}

.with-sidebar-left > :first-child {
    flex-grow: 1;
}

.with-sidebar-left > :last-child {
    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: 50%;
}

.with-sidebar-right {
    display: flex;
    flex-wrap: wrap-reverse;
    gap: var(--gutter);
}

.with-sidebar-right > :last-child {
    flex-grow: 1;
}

.with-sidebar-right > :first-child {
    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: 50%;
}